body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
}

.clock {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #333333;
}

input, button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
}

input {
    background-color: #444444;
}
